html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: black;
  overscroll-behavior: contain;
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

#play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 0;
  margin-left: 15px;

  border-color: transparent transparent transparent #f53333;
  cursor: pointer;

  border-style: solid;
  border-width: 70px 0 70px 120px;

  &:hover {
    border-color: transparent transparent transparent #cc1818;
  }
}

#loader {
  position: absolute;
  top: 45%;
  left: 47%;
  transform: translate(-50%, -50%);

  width: 100px;
  height: 100px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 500px) {
  #play {
    border-style: solid;
    border-width: 50px 0 50px 90px;
  }

  #loader {
    left: 40%;
  }
}
